<%
var AtoZ = {};
var sortedObjects = [];

for(t in objects){
    var fun = objects[t];
    var tagInitial = t;
    if(!AtoZ[tagInitial]){
        AtoZ[tagInitial] = [];
        sortedObjects.push(tagInitial);
    }
    AtoZ[tagInitial].push(fun);

}
    sortedObjects.sort();
%>


<section id="tags">
    <div class="page-header">
        <h2>Objects</h2>
        <p class="lead">Railo Server provides you with a number of objects that hold collections and that have functions that you can call. These are normally covered by funcstions such as <code>ArrayContains(MyArray)</code> but memeber functions allow you to call <code>MyArray.contains()</code> instad for brevity.</p>

            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination alphabet">
                        <% for(name in sortedObjects) { %>
                        <li><a href="<%= "#" + sortedObjects[name] %>"><%= sortedObjects[name] %></a></li>
                        <% } %>

                    </ul>
                </div>
            </div>
    </div>

    <div class="row">
        <% for(name in sortedObjects) {

            var ObjectName = sortedObjects[name];
            var ObjectFuncs = AtoZ[ObjectName];
        %>

        <div class="col-sm-4" id="<%= ObjectName %>">
            <h4><%= ObjectName.toUpperCase() %></h4>
            <ul>
                <% for(tagItem in ObjectFuncs) {%>
                <li><a href=""><%= ObjectFuncs[tagItem] %></a>


                </li>
                    <% } %>
             </ul>
          </div>
        <% } %>
    </div>

</section>


<pre><%- nodedump(objects)%></pre>


