	<!--<cfscript>-->
		<!--//	Setup the GroupList-->
		<!--//This should be done at controller level -->
		<!--prefix = "cf";-->


		<!--taglist = rc.taglist;-->

		<!--sorttype = function(current,after){-->
			<!--return current.getName() GT after.getName();-->
		<!--}-->

		<!--list = new cfc.lists.GroupedList(tagList, sorttype, "_");-->

		<!--aAlphabet = list.getGroupNames();-->
		<!--HalfLetter = list.getHalfWayGroup();-->

		<!--litems = "_,x_";-->
		<!--aBodyTypes = {};-->
		<!--rc.selectedsection = "tags";-->


	<!--</cfscript>-->

	<%
		var tagsAtoZ = {};

		for(t in tags){
			var tag = tags[t];


			var tagInitial = tag.substr(2,1);
			if(!tagsAtoZ[tagInitial]){
				tagsAtoZ[tagInitial] = [];
			}
			tagsAtoZ[tagInitial].push(tag);
		}
 	%>

<section id="tags">
	<div class="page-header">
		 <h2>Tags </h2>
		 <p class="lead">Tags are the core of Railo Server.
		</p>
	


	<cfoutput>
	
	<div class="row">
		<div class="col-md-12">
			<ul class="pagination alphabet">
				<% for(initial in tagsAtoZ) { %>

				<li><a href="<%= "#" + initial %>"><%= initial %></a></li>

				<% } %>

			</ul>
		</div>
	</div>
	



	</div>


	<cfset cols=3>
	<cfset counter = 1>
	<div class="row">
		<% for(initial in tagsAtoZ) { %>

			
			<div class="col-sm-4" id="<%= initial %>">
				<h4><%= initial.toUpperCase() %></h4>
				<cfset items = list.getItemsInGroup(al)>
				
				<ul>
					<% for(t in tagsAtoZ[initial]) {%>
					<% var tag = tagsAtoZ[initial][t]%>
						<li>
							<a href="/tag/<%= tag %>">

								<%= tag %>


							</a>
						</li>
					<% } %>
				</ul>
			</div>

			<!--<cfif (counter MOD 3) EQ 0>-->
				<!--</div>-->
				<!--<hr>-->
				<!--<div class="row">-->
			<!--</cfif>-->
			<!---->


				<% } %>
	</div>

</cfoutput>
</section>


	
	